@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;   
  background-color: #F0E7D5; 
  background-image: url("/bg-img.png");
  background-repeat: repeat;
  background-size: 560px 560px;
}
.user-app{
font-family: "Darumadrop One", cursive;
}

.admin-app {
  font-family: 'Inter', 'Roboto', 'Segoe UI', sans-serif;
}